<a href="https://colab.research.google.com/github/adgunasekar/PYTHON/blob/master/DAY10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
- WHILE LOOP
- FOR LOOP

In [4]:
# PRINT NUMBERS FROM 1 TO 10
n = int(input("enter a number"))
i = 1
while i <=n:
    print(i,end = " ")
    i=i+1

enter a number11
1 2 3 4 5 6 7 8 9 10 11

In [11]:
# print sum of even numbers
n = int(input("enter a number"))
i = 2
sum = 0
while i<=n:
   sum = sum+i
   i = i+2
print(sum)

enter a number12
42

In [21]:
# check whether given number is a palindrome
n = int(input("enter a number"))
i = n
r = 0
while n>0:
  x = n%10
  r = r*10+x
  n = (n//10)
print(r)

enter a number99
99

In [0]:
656

# functional programming
- simple
- easy to understand
- better reusability
- lengthy program will be divided into sub programs

In [0]:
def name of the function(<parameter>):
   statements
   return

In [28]:
# print sum of even numbers
#input:1234
# output:(2+4)=6
def sumofevendigits(n):
  s = 0
  while n!=0:
    r = n%10
    if r%2 == 0:
      s=s+r
    n=n//10
  return s
sumofevendigits(1234)

6

In [33]:
# print largest number in a given number
def large(n):
  prev=0
  next=0
  while(n!=0):
   prev=next
   next=n%10
   if(prev>next):
    next=prev
   n=n//10
  return next
large(12345)

5

# for loop
# syntax:
# for in range(start,stop,step):
# statements

In [0]:
# syntax
# for in range(start,stop,step):
statements

In [35]:
# using function print the numbers between limits
# input:11 25
# output:11 12 13 14......24 25
def printseries(fn,ln):
   for i in range(fn,ln+1):
     print(i,end=" ")
   return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [44]:
# input:500,520
#output:500 504 508....520:
def printseries(fn,ln):
    for i in range(500,521,4):
      print(i,end=" ")
    return
printseries(500,521)

500 504 508 512 516 520

# collection types
- list
- tuple
- dictionary

# list
- one of the data structure in python
- data structure mea ns to store, sort and search options
- it is one  common data structure in python,the items of list seperated by comma and enclosed by square brackets
- list was immutable(ie values can be changed)
- ex:
- list1 = [1,2,3,4,5]
- list = ["JNTUA","DASD","asds"]

In [57]:
li = [1,8,2,5,4]
print(li[-4:])
print(li[-2:])
print(li[::2])

[8, 2, 5, 4]
[5, 4]
[1, 2, 4]

In [62]:
# update list
li = ["JNTUA",7,"ANTPR",9,7]
print(li)
li[3]="567"
print(li)

['JNTUA', 7, 'ANTPR', 9, 7]
['JNTUA', 7, 'ANTPR', '567', 7]

IndexError: ignored

In [64]:
del li[3]
print(li)

['JNTUA', 7, 'ANTPR']

In [69]:
# basic list operations
li=[1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(7 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# list functions
- max
- min
- sum
- append
- insert
- count
- index
- sort
- pop
-

In [74]:
li = [1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))

5
1

TypeError: ignored