<a href="https://colab.research.google.com/github/adgunasekar/PYTHON/blob/master/day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
#### Markdown

**guna**
*guna*
***guna***
***Adding links to markdown***
[site](https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Technological_University,_Anantapur)

### inserting image 
![text](https://upload.wikimedia.org/wikipedia/en/e/e3/Jawaharlal_Nehru_Technological_University%2C_Anantapur_logo.png)

### Inserting image
![text](https://www.google.com/search?q=jntua&sxsrf=ACYBGNRv4v712q06MxL0RkPP6HkZWKGd7g:1580380560845&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiyq8GvkKvnAhXEb30KHR-4AvYQ_AUoBHoECA0QBg&biw=1600&bih=789#imgrc=s3XnUcbS_Rlu7M:)

In [1]:
print("hello world")

hello world

In [2]:
# variable creation
print("hello , jntua")
print("hello, jntua","|||","chemical,"|||","cse")

SyntaxError: ignored

In [3]:
print("hello , jntua","chemical","cse")

hello , jntua chemical cse

In [4]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

In [5]:
# Data types and conversions
int
float
string

NameError: ignored

In [0]:
# data types and conversions

data types and conversions

In [9]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [10]:
i = 100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [11]:
# length
a = 123456
print(len(str(a)))

6

# Reading input from user---input function

In [13]:
a = input("enter your name : ")
print(a)
print(type(a))

enter your name : gunasekar
gunasekar
<class 'str'>

In [14]:
b = int(input("enter your age : "))
print(b)
print(type(b))

enter your age : 21
21
<class 'int'>

# operators
- operator is a symbol used to perform a specific kind of operations

# arithmetic operator
- +
- -
- *
- /
- %
- //

In [15]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operators
- =
- ==
- !=
- <
- >
- <=
- >=

# relational operators
- =
- ==
- !=
- <
- >
- <=
- =>

In [16]:
x = 10
a1 = x > 15
print(a1)

False

# logical operators
- and
- or
- not

In [19]:
i = 100
a1 =  (i>15) and (i<800)
a2 = (i>15) or (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

In [20]:
# control flow statements
- conditional statements
- looping statements

SyntaxError: ignored

# control flow statements
- conditional statements
- looping statements

In [0]:
# if - else statements

# if - else statements
## syntax
# if boolean_condition
# statements
# else:
# statements

In [23]:
# To check given is even or odd
n = int(input("enter a number"))
if n%2 == 0:
  print(n,"is even number")
else:
  print(n,"is odd number")

enter a number68
68 is even number

In [26]:
# to check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
   print(n,"is multiples of 3 and 5")
else:
   print(n,"is not a multiple of 3 nad 5")

enter a number15
15 is multiples of 3 and 5

In [28]:
# check given number is +ve or -ve or zero
n = int(input("enter a number"))
if n>0:
  print(n,"is positive")
elif n<0:
  print(n,"is negative")
else :
  print(n,"is zero")

enter a number0
0 is zero

In [32]:
# check the greatest of three numbers
n = int(input("enter a number"))
y = int(input("enter a number"))
z = int(input("enter a number"))
if n>y and n>z:
  print(n,"n is greatest")
elif y>z:
  print(y,"y is greatest")
else:
  print(z,"z is greatest")

enter a number78
enter a number98
enter a number987
987 z is greatest

In [42]:
# find the leap year
a = int(input("enter a number"))
if a%4 == 0 & a%100 == 0 & a%400 == 0:
  print(a,"is leap year")
else:
  print(a,"is not a leap year")

enter a number2021
2021 is not a leap year